html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  height: 21em;
}

main {
  max-width: 80%;
  margin: auto;
}

nav {
  background-color: lightblue;
  display: flex;
  height: 23%;
}

ul {
  padding-left: 0px;
}

img {
  max-width: 100%;
  align-content: center;
  border: 1px solid black;
}

.icon-menu-1 {
  float: left;
  font-size: 3em;
  margin: .25em .25em;
}

.template {
  display: none;
}

.article-body p{
  margin-top: 0px;
}

#banner {
  height: 75%;
  max-width: 100%;
  background-image: url('headbg.png');
  border-bottom: 1px solid black;
}

#prof-pic {
  float: right;
  margin: 1em 1em;
}

#projects header {
  height: auto;
}

#projects h1 {
  margin-bottom: 5px;
  font-size: 24px;
}

#nav {
  display: none;
  width: 100%;
  /*align-items: center;
  justify-content: space-around;*/
  padding: 0px;
}

#nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#social {
  display: flex;
  justify-content: space-around;
}


#nav li {
  list-style-type: none;
}
