html {
  height: 100%;
  width: 100%;
}

body {
  width: 80%;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightblue;
  height: 400px;
}

nav {
  display: flex;
  height: 23%;
}

ul {
  padding-left: 0px;
}

.template {
  visibility: hidden;
}

#nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
}

#nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#social {
  display: flex;
  justify-content: space-around;
}

#banner {
  height: 75%;
  width: 100%;
  background-image: url('carnival-home-port-seattle-1.jpg')
}

#nav li {
  list-style-type: none;
}
