.icon-menu-1:hover {
  background-color: rgba(203, 201, 208, .5);
}

#nav-list li:hover {
  color: #05668D;
}

#prof-pic {
  float: right;
  margin: 1em 1em;
}

#projects header {
  align-items: center;
}

#social li:hover {
  color: #F0F3BD;
}

@media (min-width: 680px) and (max-width: 1199px) {
  article {
    background-color: rgb(245, 245, 245);
    margin: 1em;
    padding: 1em;
  }
  .icon-menu-1 {
    display: none;
  }
  #selectors {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #nav {
    display: flex !important;
    max-height: 3em;
  }
  #nav-list {
    display: flex;
    flex-direction: row;
  }
  #social {
    margin-top: 11em;
    left: 10em;
  }
  #nav-list li{
    margin: 0em 1em;
  }
}

@media (min-width: 1200px) {
  article {
    background-color: rgb(245, 245, 245);
    margin: 1em;
    padding: 1em;
  }
  body {
    max-width: 80%;
  }
  .icon-menu-1 {
    display: none;
  }
  main {
    margin-left: 20%;
  }
  quote {
    display: block;
  }
  #selectors {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #social {
    margin-top: 2.7em;
  }
  #nav {
    display: block !important;
    position: fixed;
    max-width: 20%;
    height: auto;
    top: 16em;
    border-radius: 1em;
  }
  #nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
